/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 nov. 2018, 17:09:51
    Author     : Nico
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: #1b75bc;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #1b75bc;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: white;
}

.tab .tab-label {
    -fx-font-size: 28px;
    -fx-padding: 20px 40px 20px 40px;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
}

.flat-btn:hover {
    -fx-text-fill: yellow;
}

.increment-button , .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal , .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.increment-button , .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

.scroll-bar:horizontal .track , .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal:hover .track , .scroll-bar:horizontal:pressed .track , .scroll-bar:vertical:hover .track, .scroll-bar:vertical:pressed .track {
    -fx-background-color: derive(#434343,20%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed {
    -fx-background-color: derive(black,50%);
}

.magazine, .exercice, .tool {
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-width: 0px;
    -fx-background-color: grey;
}

.timesTable {
    -fx-font-size: 14px;
}

.timesTable .column-header-background {
    -fx-background-color:  #1b75bc;
}

.timesTable .column-header-background .label{
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.timesTable .column-header-background .label{
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.magazineTitle, .magazineCat, .magazineDate, .magazineDesc, .classicText {
    -fx-text-fill: white;
    -fx-fill: white;
}

.flowpane {
    -fx-background-color: #1b1b1b;
}

.themeHeader {
    -fx-background-color: grey;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: white;
}

.searchInput, .searchInput .content {
    -fx-text-fill: white;
    -jfx-focus-color: white;
    -fx-prompt-text-fill: #CACACA;
    -fx-fill: white;
}

.searchInput .input-line {
    -fx-background-color: white;
}

.checkbox {
    -fx-text-fill: white;
    -jfx-unchecked-color: white;
    -jfx-checked-color: #1b75bc;
}

.title {
     -fx-font-family: Raleway;
     -fx-font-weight: bold;
}

.large-title {
    -fx-font-size: 32px;
}

.medium-title {
    -fx-font-size: 24px;
}

.small-title {
    -fx-font-size: 18px;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.jfx-tree-table-view .tree-table-cell, .jfx-tree-table-view .column-overlay {
    -fx-background-color: #1b1b1b;
    -fx-text-fill: white;
}

.jfx-text-area .content{
    -fx-cursor: hand;
}

.jfx-tree-table-view *.scroll-bar:horizontal *.increment-button,
.jfx-tree-table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: -1;
}

.jfx-tree-table-view *.scroll-bar:horizontal *.increment-arrow, 
.jfx-tree-table-view *.scroll-bar:horizontal *.decrement-arrow, 
.jfx-tree-table-view .scroll-bar:horizontal .track,
.jfx-tree-table-view .scroll-bar:horizontal:hover .track , 
.jfx-tree-table-view .scroll-bar:horizontal:pressed .track{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: -1;
    -fx-shape: null;
}

.leftTranslate, .rightTranslate {
    -fx-border-color: white;
    -fx-border-width: 4px 4px 4px 4px;
    -fx-border-radius: 7px;
    -fx-padding: 10px;
}
